body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #ececec;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background-color: teal;
  padding: 0 5vw;
}

.logo {
  color: white;
  font-size: 2rem;
  /* text-shadow: 0.2rem 0.2rem 0.8rem rgba(255, 255, 255, 0.5); */
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-li {
  margin: 0;
  padding: 0.5rem 1rem;
}

.nav-li-link {
  text-decoration: none;
  color: white;
}

.main {
  color: teal;
  font-weight: 600;
  text-align: justify;
}

.footer {
  text-align: center;
  padding: 1vh;
  background-color: teal;
  color: white;
}

.book-collection {
  min-width: 15rem;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  border: 1px dashed #ccc;
}

.book-card {
  min-width: 3rem;
  width: 23%;
  text-align: center;
  margin-top: 2rem;
  border: 1px dotted #888;
}
